@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "tw-animate-css";

@theme inline {
  --header-height: calc(var(--spacing) * 14);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-ark: var(--ark);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-primary-subtle: var(--primary-subtle);
  --color-primary-subtle-foreground: var(--primary-subtle-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-overlay: var(--overlay);
  --color-overlay-foreground: var(--overlay-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-success-subtle: var(--success-subtle);
  --color-success-subtle-foreground: var(--success-subtle-foreground);

  --color-info-subtle: var(--info-subtle);
  --color-info-subtle-foreground: var(--info-subtle-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-warning-subtle: var(--warning-subtle);
  --color-warning-subtle-foreground: var(--warning-subtle-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);

  --color-danger-subtle: var(--danger-subtle);
  --color-danger-subtle-foreground: var(--danger-subtle-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ark);

  --color-navbar: var(--navbar);
  --color-navbar-foreground: var(--navbar-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-radius-lg: var(--radius-lg);
  --color-radius-xs: var(--radius-xs);
  --color-radius-sm: var(--radius-sm);
  --color-radius-md: var(--radius-md);
  --color-radius-xl: var(--radius-xl);
  --color-radius-2xl: var(--radius-2xl);
  --color-radius-3xl: var(--radius-3xl);
  --color-radius-4xl: var(--radius-4xl);

  --animate-slide-up: slideUp 0.2s ease-out;
  --animate-slide-down: slideDown 0.2s ease-out;

  --animate-marquee-x: marqueeX var(--marquee-duration) linear infinite
    var(--marquee-delay);
  --animate-marquee-y: marqueeY var(--marquee-duration) linear infinite
    var(--marquee-delay);

  @keyframes slideUp {
    from {
      height: var(--height);
    }
    to {
      height: 0;
    }
  }

  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--height);
    }
  }

  @keyframes marqueeX {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(var(--marquee-translate));
    }
  }

  @keyframes marqueeY {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(var(--marquee-translate));
    }
  }
}

:root {
  --ark: #eb5e41;

  --background: oklch(1 0 0);
  --foreground: oklch(0.21 0.006 285.885);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);

  --primary: oklch(0.141 0.005 285.823);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.92 0.004 286.32);
  --secondary-foreground: oklch(0.141 0.005 285.823);

  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.92 0.004 286.32);
  --accent-foreground: oklch(0.141 0.005 285.823);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.911 0.006 286.286);

  --input: oklch(0.871 0.006 286.286);

  --ring: oklch(0.141 0.005 285.823);

  --radius-lg: 0.275rem;
  --radius-xs: calc(var(--radius-lg) * 0.5);
  --radius-sm: calc(var(--radius-lg) * 0.75);
  --radius-md: calc(var(--radius-lg) * 0.9);
  --radius-xl: calc(var(--radius-lg) * 1.25);
  --radius-2xl: calc(var(--radius-lg) * 1.5);
  --radius-3xl: calc(var(--radius-lg) * 2);
  --radius-4xl: calc(var(--radius-lg) * 3);
}

.dark {
  --background: oklch(0.181 0.005 285.823);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.141 0.005 285.823);

  --secondary: oklch(0.244 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.21 0.006 285.885);
  --muted-foreground: oklch(0.705 0.015 286.067);

  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.27 0.013 285.805);

  --input: oklch(0.32 0.013 285.805);

  --ring: oklch(0.985 0 0);
}

@layer base {
  ::selection {
    @apply bg-ark text-foreground;
  }

  * {
    @apply ring-ring;
  }

  html {
    @apply antialiased scroll-smooth;
  }

  body {
    @apply overflow-y-scroll bg-background text-foreground flex min-h-svh flex-col [--header-height:calc(var(--spacing)*14)] xl:[--footer-height:calc(var(--spacing)*24)];
  }

  main {
    @apply flex-1 flex flex-col;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}
