@import "tailwindcss";

/* Default theme goes here, but it's the default */

.theme-red {
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-50);

  @variant dark {
    --primary: var(--color-red-600);
    --primary-foreground: var(--color-red-50);
  }
}

.theme-orange {
  --primary: var(--color-orange-600);
  --primary-foreground: var(--color-orange-50);

  @variant dark {
    --primary: var(--color-orange-700);
    --primary-foreground: var(--color-orange-50);
  }
}

.theme-amber {
  --primary: var(--color-amber-600);
  --primary-foreground: var(--color-amber-50);

  @variant dark {
    --primary: var(--color-amber-700);
    --primary-foreground: var(--color-amber-50);
  }
}

.theme-yellow {
  --primary: var(--color-yellow-600);
  --primary-foreground: var(--color-yellow-50);

  @variant dark {
    --primary: var(--color-yellow-700);
    --primary-foreground: var(--color-yellow-50);
  }
}

.theme-lime {
  --primary: var(--color-lime-600);
  --primary-foreground: var(--color-lime-50);

  @variant dark {
    --primary: var(--color-lime-700);
    --primary-foreground: var(--color-lime-50);
  }
}

.theme-green {
  --primary: var(--color-green-600);
  --primary-foreground: var(--color-green-50);

  @variant dark {
    --primary: var(--color-green-700);
    --primary-foreground: var(--color-green-50);
  }
}

.theme-emerald {
  --primary: var(--color-emerald-600);
  --primary-foreground: var(--color-emerald-50);

  @variant dark {
    --primary: var(--color-emerald-700);
    --primary-foreground: var(--color-emerald-50);
  }
}

.theme-teal {
  --primary: var(--color-teal-600);
  --primary-foreground: var(--color-teal-50);

  @variant dark {
    --primary: var(--color-teal-700);
    --primary-foreground: var(--color-teal-50);
  }
}

.theme-cyan {
  --primary: var(--color-cyan-600);
  --primary-foreground: var(--color-cyan-50);

  @variant dark {
    --primary: var(--color-cyan-700);
    --primary-foreground: var(--color-cyan-50);
  }
}

.theme-sky {
  --primary: var(--color-sky-600);
  --primary-foreground: var(--color-sky-50);

  @variant dark {
    --primary: var(--color-sky-700);
    --primary-foreground: var(--color-sky-50);
  }
}

.theme-blue {
  --primary: var(--color-blue-600);
  --primary-foreground: var(--color-blue-50);

  @variant dark {
    --primary: var(--color-blue-700);
    --primary-foreground: var(--color-blue-50);
  }
}

.theme-indigo {
  --primary: var(--color-indigo-600);
  --primary-foreground: var(--color-indigo-50);

  @variant dark {
    --primary: var(--color-indigo-700);
    --primary-foreground: var(--color-indigo-50);
  }
}

.theme-violet {
  --primary: var(--color-violet-600);
  --primary-foreground: var(--color-violet-50);

  @variant dark {
    --primary: var(--color-violet-700);
    --primary-foreground: var(--color-violet-50);
  }
}

.theme-purple {
  --primary: var(--color-purple-600);
  --primary-foreground: var(--color-purple-50);

  @variant dark {
    --primary: var(--color-purple-700);
    --primary-foreground: var(--color-purple-50);
  }
}

.theme-fuchsia {
  --primary: var(--color-fuchsia-600);
  --primary-foreground: var(--color-fuchsia-50);

  @variant dark {
    --primary: var(--color-fuchsia-700);
    --primary-foreground: var(--color-fuchsia-50);
  }
}

.theme-pink {
  --primary: var(--color-pink-600);
  --primary-foreground: var(--color-pink-50);

  @variant dark {
    --primary: var(--color-pink-700);
    --primary-foreground: var(--color-pink-50);
  }
}

.theme-rose {
  --primary: var(--color-rose-600);
  --primary-foreground: var(--color-rose-50);

  @variant dark {
    --primary: var(--color-rose-700);
    --primary-foreground: var(--color-rose-50);
  }
}

/* Neutral goes here but it's the same as the default on globals.css */

.bg-slate {
  --background: var(--color-slate-50);
  --foreground: var(--color-slate-800);

  --card: var(--color-slate-50);
  --card-foreground: var(--color-slate-800);

  --popover: var(--color-slate-50);
  --popover-foreground: var(--color-slate-800);

  --primary: var(--color-slate-800);
  --primary-foreground: var(--color-slate-50);

  --secondary: --alpha(var(--color-slate-950) / 4%);
  --secondary-foreground: var(--color-slate-800);

  --muted: --alpha(var(--color-slate-950) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-slate-500) 90%,
    var(--color-slate-950)
  );

  --accent: --alpha(var(--color-slate-950) / 4%);
  --accent-foreground: var(--color-slate-800);

  --border: --alpha(var(--color-slate-950) / 8%);
  --input: --alpha(var(--color-slate-950) / 10%);
  --ring: var(--color-slate-400);

  --sidebar: var(--color-slate-50);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-slate-800) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-slate-800);
  --sidebar-primary-foreground: var(--color-slate-50);
  --sidebar-accent: --alpha(var(--color-slate-950) / 4%);
  --sidebar-accent-foreground: var(--color-slate-800);
  --sidebar-border: --alpha(var(--color-slate-950) / 6%);
  --sidebar-ring: var(--color-slate-400);

  --code: color-mix(in srgb, var(--background) 99%, var(--color-slate-950));
  --code-highlight: --alpha(var(--color-slate-950) / 4%);

  @variant dark {
    --background: color-mix(
      in srgb,
      var(--color-slate-950) 100%,
      var(--color-slate-50)
    );
    --foreground: var(--color-slate-100);

    --card: color-mix(in srgb, var(--background) 98%, var(--color-slate-50));
    --card-foreground: var(--color-slate-100);

    --popover: color-mix(
      in srgb,
      var(--background) 100%,
      var(--color-slate-50)
    );
    --popover-foreground: var(--color-slate-100);

    --primary: var(--color-slate-100);
    --primary-foreground: var(--color-slate-800);

    --secondary: --alpha(var(--color-slate-50) / 4%);
    --secondary-foreground: var(--color-slate-100);

    --muted: --alpha(var(--color-slate-50) / 4%);
    --muted-foreground: color-mix(
      in srgb,
      var(--color-slate-500) 90%,
      var(--color-slate-50)
    );

    --accent: --alpha(var(--color-slate-50) / 4%);
    --accent-foreground: var(--color-slate-100);

    --destructive: color-mix(
      in srgb,
      var(--color-red-600) 90%,
      var(--color-slate-50)
    );

    --border: --alpha(var(--color-slate-50) / 6%);
    --input: --alpha(var(--color-slate-50) / 8%);
    --ring: var(--color-slate-500);

    --sidebar: color-mix(
      in srgb,
      var(--color-slate-950) 97%,
      var(--color-slate-50)
    );
    --sidebar-foreground: color-mix(
      in srgb,
      var(--color-slate-100) 64%,
      var(--sidebar)
    );
    --sidebar-primary: var(--color-slate-100);
    --sidebar-primary-foreground: var(--color-slate-800);
    --sidebar-accent: --alpha(var(--color-slate-50) / 4%);
    --sidebar-accent-foreground: var(--color-slate-100);
    --sidebar-border: --alpha(var(--color-slate-50) / 5%);
    --sidebar-ring: var(--color-slate-400);

    --code: color-mix(in srgb, var(--background) 99%, var(--color-slate-50));
    --code-highlight: --alpha(var(--color-slate-50) / 4%);
  }
}

.bg-gray {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-800);

  --card: var(--color-gray-50);
  --card-foreground: var(--color-gray-800);

  --popover: var(--color-gray-50);
  --popover-foreground: var(--color-gray-800);

  --primary: var(--color-gray-800);
  --primary-foreground: var(--color-gray-50);

  --secondary: --alpha(var(--color-gray-950) / 4%);
  --secondary-foreground: var(--color-gray-800);

  --muted: --alpha(var(--color-gray-950) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-gray-500) 90%,
    var(--color-gray-950)
  );

  --accent: --alpha(var(--color-gray-950) / 4%);
  --accent-foreground: var(--color-gray-800);

  --border: --alpha(var(--color-gray-950) / 8%);
  --input: --alpha(var(--color-gray-950) / 10%);
  --ring: var(--color-gray-400);

  --sidebar: var(--color-gray-50);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-gray-800) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-gray-800);
  --sidebar-primary-foreground: var(--color-gray-50);
  --sidebar-accent: --alpha(var(--color-gray-950) / 4%);
  --sidebar-accent-foreground: var(--color-gray-800);
  --sidebar-border: --alpha(var(--color-gray-950) / 6%);
  --sidebar-ring: var(--color-gray-400);

  --code: color-mix(in srgb, var(--background) 99%, var(--color-gray-950));
  --code-highlight: --alpha(var(--color-gray-950) / 4%);

  @variant dark {
    --background: color-mix(
      in srgb,
      var(--color-gray-950) 100%,
      var(--color-gray-50)
    );
    --foreground: var(--color-gray-100);

    --card: color-mix(in srgb, var(--background) 98%, var(--color-gray-50));
    --card-foreground: var(--color-gray-100);

    --popover: color-mix(in srgb, var(--background) 100%, var(--color-gray-50));
    --popover-foreground: var(--color-gray-100);

    --primary: var(--color-gray-100);
    --primary-foreground: var(--color-gray-800);

    --secondary: --alpha(var(--color-gray-50) / 4%);
    --secondary-foreground: var(--color-gray-100);

    --muted: --alpha(var(--color-gray-50) / 4%);
    --muted-foreground: color-mix(
      in srgb,
      var(--color-gray-500) 90%,
      var(--color-gray-50)
    );

    --accent: --alpha(var(--color-gray-50) / 4%);
    --accent-foreground: var(--color-gray-100);

    --destructive: color-mix(
      in srgb,
      var(--color-red-600) 90%,
      var(--color-gray-50)
    );

    --border: --alpha(var(--color-gray-50) / 6%);
    --input: --alpha(var(--color-gray-50) / 8%);
    --ring: var(--color-gray-500);

    --sidebar: color-mix(
      in srgb,
      var(--color-gray-950) 97%,
      var(--color-gray-50)
    );
    --sidebar-foreground: color-mix(
      in srgb,
      var(--color-gray-100) 64%,
      var(--sidebar)
    );
    --sidebar-primary: var(--color-gray-100);
    --sidebar-primary-foreground: var(--color-gray-800);
    --sidebar-accent: --alpha(var(--color-gray-50) / 4%);
    --sidebar-accent-foreground: var(--color-gray-100);
    --sidebar-border: --alpha(var(--color-gray-50) / 5%);
    --sidebar-ring: var(--color-gray-400);

    --code: color-mix(in srgb, var(--background) 99%, var(--color-gray-50));
    --code-highlight: --alpha(var(--color-gray-50) / 4%);
  }
}

.bg-zinc {
  --background: var(--color-zinc-50);
  --foreground: var(--color-zinc-800);

  --card: var(--color-zinc-50);
  --card-foreground: var(--color-zinc-800);

  --popover: var(--color-zinc-50);
  --popover-foreground: var(--color-zinc-800);

  --primary: var(--color-zinc-800);
  --primary-foreground: var(--color-zinc-50);

  --secondary: --alpha(var(--color-zinc-950) / 4%);
  --secondary-foreground: var(--color-zinc-800);

  --muted: --alpha(var(--color-zinc-950) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-zinc-500) 90%,
    var(--color-zinc-950)
  );

  --accent: --alpha(var(--color-zinc-950) / 4%);
  --accent-foreground: var(--color-zinc-800);

  --border: --alpha(var(--color-zinc-950) / 8%);
  --input: --alpha(var(--color-zinc-950) / 10%);
  --ring: var(--color-zinc-400);

  --sidebar: var(--color-zinc-50);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-zinc-800) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-zinc-800);
  --sidebar-primary-foreground: var(--color-zinc-50);
  --sidebar-accent: --alpha(var(--color-zinc-950) / 4%);
  --sidebar-accent-foreground: var(--color-zinc-800);
  --sidebar-border: --alpha(var(--color-zinc-950) / 6%);
  --sidebar-ring: var(--color-zinc-400);

  --code: color-mix(in srgb, var(--background) 99%, var(--color-zinc-950));
  --code-highlight: --alpha(var(--color-zinc-950) / 4%);

  @variant dark {
    --background: color-mix(
      in srgb,
      var(--color-zinc-950) 100%,
      var(--color-zinc-50)
    );
    --foreground: var(--color-zinc-100);

    --card: color-mix(in srgb, var(--background) 98%, var(--color-zinc-50));
    --card-foreground: var(--color-zinc-100);

    --popover: color-mix(in srgb, var(--background) 100%, var(--color-zinc-50));
    --popover-foreground: var(--color-zinc-100);

    --primary: var(--color-zinc-100);
    --primary-foreground: var(--color-zinc-800);

    --secondary: --alpha(var(--color-zinc-50) / 4%);
    --secondary-foreground: var(--color-zinc-100);

    --muted: --alpha(var(--color-zinc-50) / 4%);
    --muted-foreground: color-mix(
      in srgb,
      var(--color-zinc-500) 90%,
      var(--color-zinc-50)
    );

    --accent: --alpha(var(--color-zinc-50) / 4%);
    --accent-foreground: var(--color-zinc-100);

    --destructive: color-mix(
      in srgb,
      var(--color-red-600) 90%,
      var(--color-zinc-50)
    );

    --border: --alpha(var(--color-zinc-50) / 6%);
    --input: --alpha(var(--color-zinc-50) / 8%);
    --ring: var(--color-zinc-500);

    --sidebar-ring: var(--color-zinc-400);
    --sidebar: color-mix(
      in srgb,
      var(--color-zinc-950) 97%,
      var(--color-zinc-50)
    );
    --sidebar-foreground: color-mix(
      in srgb,
      var(--color-zinc-100) 64%,
      var(--sidebar)
    );
    --sidebar-primary: var(--color-zinc-100);
    --sidebar-primary-foreground: var(--color-zinc-800);
    --sidebar-accent: --alpha(var(--color-zinc-50) / 4%);
    --sidebar-accent-foreground: var(--color-zinc-100);
    --sidebar-border: --alpha(var(--color-zinc-50) / 5%);
    --sidebar-ring: var(--color-zinc-400);

    --code: color-mix(in srgb, var(--background) 99%, var(--color-zinc-50));
    --code-highlight: --alpha(var(--color-zinc-50) / 4%);
  }
}

.bg-stone {
  --background: var(--color-stone-50);
  --foreground: var(--color-stone-800);

  --card: var(--color-stone-50);
  --card-foreground: var(--color-stone-800);

  --popover: var(--color-stone-50);
  --popover-foreground: var(--color-stone-800);

  --primary: var(--color-stone-800);
  --primary-foreground: var(--color-stone-50);

  --secondary: --alpha(var(--color-stone-950) / 4%);
  --secondary-foreground: var(--color-stone-800);

  --muted: --alpha(var(--color-stone-950) / 4%);
  --muted-foreground: color-mix(
    in srgb,
    var(--color-stone-500) 90%,
    var(--color-stone-950)
  );

  --accent: --alpha(var(--color-stone-950) / 4%);
  --accent-foreground: var(--color-stone-800);

  --border: --alpha(var(--color-stone-950) / 8%);
  --input: --alpha(var(--color-stone-950) / 10%);
  --ring: var(--color-stone-400);

  --sidebar: var(--color-stone-50);
  --sidebar-foreground: color-mix(
    in srgb,
    var(--color-stone-800) 64%,
    var(--sidebar)
  );
  --sidebar-primary: var(--color-stone-800);
  --sidebar-primary-foreground: var(--color-stone-50);
  --sidebar-accent: --alpha(var(--color-stone-950) / 4%);
  --sidebar-accent-foreground: var(--color-stone-800);
  --sidebar-border: --alpha(var(--color-stone-950) / 6%);
  --sidebar-ring: var(--color-stone-400);

  --code: color-mix(in srgb, var(--background) 99%, var(--color-stone-950));
  --code-highlight: --alpha(var(--color-stone-950) / 4%);

  @variant dark {
    --background: color-mix(
      in srgb,
      var(--color-stone-950) 100%,
      var(--color-stone-50)
    );
    --foreground: var(--color-stone-100);

    --card: color-mix(in srgb, var(--background) 98%, var(--color-stone-50));
    --card-foreground: var(--color-stone-100);

    --popover: color-mix(
      in srgb,
      var(--background) 100%,
      var(--color-stone-50)
    );
    --popover-foreground: var(--color-stone-100);

    --primary: var(--color-stone-100);
    --primary-foreground: var(--color-stone-800);

    --secondary: --alpha(var(--color-stone-50) / 4%);
    --secondary-foreground: var(--color-stone-100);

    --muted: --alpha(var(--color-stone-50) / 4%);
    --muted-foreground: color-mix(
      in srgb,
      var(--color-stone-500) 90%,
      var(--color-stone-50)
    );

    --accent: --alpha(var(--color-stone-50) / 4%);
    --accent-foreground: var(--color-stone-100);

    --destructive: color-mix(
      in srgb,
      var(--color-red-600) 90%,
      var(--color-stone-50)
    );

    --border: --alpha(var(--color-stone-50) / 6%);
    --input: --alpha(var(--color-stone-50) / 8%);
    --ring: var(--color-stone-500);

    --sidebar: color-mix(
      in srgb,
      var(--color-stone-950) 97%,
      var(--color-stone-50)
    );
    --sidebar-foreground: color-mix(
      in srgb,
      var(--color-stone-100) 64%,
      var(--sidebar)
    );
    --sidebar-primary: var(--color-stone-100);
    --sidebar-primary-foreground: var(--color-stone-800);
    --sidebar-accent: --alpha(var(--color-stone-50) / 4%);
    --sidebar-accent-foreground: var(--color-stone-100);
    --sidebar-border: --alpha(var(--color-stone-50) / 5%);
    --sidebar-ring: var(--color-stone-400);

    --code: color-mix(in srgb, var(--background) 99%, var(--color-stone-50));
    --code-highlight: --alpha(var(--color-stone-50) / 4%);
  }
}

/* Border Radius */
.radius-none {
  --radius: 0rem;
}

.radius-xs {
  --radius: 0.125rem;
}

.radius-sm {
  --radius: 0.25rem;
}

.radius-md {
  --radius: 0.5rem;
}

.radius-lg {
  --radius: 0.625rem;
}
